body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
  padding: none;
  flex-wrap: wrap;
}
img{
  height: 100px;
  width: 100px;
  background-color: inherit;

}

#hover-trigger {
  cursor: pointer;
  color: rgb(18, 18, 189);
}

.hide {
    color: rgb(29, 27, 27);
    display: inline-flex;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.2s, opacity 0.2s;
  }:hover .hide {
    max-width: 150px;
    opacity: 1;
    display: inline-flex;
    margin-right: 10px;
    transition: max-width 0.2s;
    /* transform: translate3d(); */
  }
.heading{
  color: white;
  background-color: rgb(18, 18, 189);
  text-align: center;
  padding: 1px;
  border-radius: 40px;
  margin: 0 auto;
}
#search-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#search-wrapper{
  width: 50%;
  border: none;
  /* margin: auto; */
  position: relative;
  border-radius: 20px;
  background-color: lightgray;
}
#searchInput{
  width: 50%;
  /* padding: 12px 20px; */
  /* margin: 8px 0; */

  /* box-sizing: border-box; */
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: inherit;
  /* position: relative; */
}
#searchBtn{
  padding: 5px 5px;
  outline: 0;
  border-radius: 20px;
  border: none;
  cursor: pointer;
/* color: black; */
  background-color: inherit;
  /* position: absolute; */
  left: 5%;
  /* top: 5px; */
  position: relative;
}
div .button{
  border-radius: 20px;
  width: 100px;
  background-color: rgb(18, 18, 189);
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
}
::placeholder {
  display: inline;
  text-align: start;
  position: relative;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}
/* .table{
display: flex;
justify-content: space-evenly;
}
.externalDiv{
  display: grid;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
#resultContainer{
  background-color: blue;
} */

#result-container{
  margin-top: 10px;
  /* background-color: blue; */
  border-radius: 20px;
}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative ;
}
li{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  border-radius: 20px;
  background-color: rgb(18, 18, 189) ;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  
}

#CLR{
    background-color: inherit;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    padding: 10px;
    position: relative;
    display: inline-flex;
}
#CLR:hover{
  opacity: 1;
  
}
